<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>INFO列表</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>密码</th>
                <th>年龄</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>shuai</th>
                <th>123</th>
                <th>99</th>
            </tr>
        </tbody>
    </table>
</body>
</html>